@{
    ViewData["Title"] = "Home Page";
}

<div class="container border border-success p-5 mb-4">
    <div class="row">
        <div class="col-6">
            <h3>Upcoming Appointments</h3>
        </div>
        <div class="col-6 text-right text-white" >
            <a asp-action="Create" asp-controller="Patient" class="btn btn-info p-3"><i class="fas fa-user-plus"></i> Create New Patient</a>
        </div>
    </div>
</div>
<p class="lead">Today is @DateTime.Now.DayOfWeek @DateTime.Now.ToString("MMMM dd, yyyy")</p>
<div class="row">
    <div class="col-6">
        <div class="card border shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <span class="d-block">Dr Name</span>
                        <span class="d-block">Name:</span>
                        <span class="d-block"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <div class="col-6">
                        <span>Appointment Status</span>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
