@model PatientAppointmentVM
<style>
    body{
        width: 100%;
    }
   @* .container{
        max-width: 100%;
    }*@
    #calendar {
        max-height: 50em;
        width:100%;

    }


</style>

@{
    if (Model.Patient != null)
    {
        <div class="container mb-2 ml-0 pl-0">
            <div class="row">
                <div class="col-12">
                    <h5>Schedule Appointment for @Model.Patient.FirstName @Model.Patient.LastName </h5>
                </div>
            </div>
        </div>
        <partial name="_AppointmentModal" />
    }
}


<div id='calendar'></div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                navLinks: true, // can click day/week names to navigate views
                eventStartEditable: false,
                selectable: true,
                selectMirror: true,
                select: function (arg) {

                    let saveBtn = document.getElementById("SaveChanges");

                    let appointmentStartField = document.getElementById("AppointmentStart");
                    let appointmentEndField = document.getElementById("AppointmentEnd");
                    let form = document.getElementById("AppointmentForm");

                    let momentStart = moment(arg.start);
                    let momentEnd = moment(arg.end);
                    let verifySelectdateEnd = moment(arg.end).subtract(1, 'hour');

                    let dateComponentStart = momentStart.format('YYYY-MM-DD');
                    let timeComponentStart = momentStart.format('HH:mm');
                    let timeComponentEnd = momentEnd.format('HH:mm');

                    appointmentStartField.value = timeComponentStart;
                    appointmentEndField.value = timeComponentEnd;

                    if (verifySelectdateEnd.isAfter(momentStart, 'day')) {
                        calendar.unselect();
                    } else {

                        if (timeComponentStart == "00:00") {
                            appointmentStartField.value = "";
                            appointmentEndField.value = "";
                        } else {
                            appointmentStartField.value = timeComponentStart;
                            appointmentEndField.value = timeComponentEnd;
                        }
                        $('#Modal').modal();
                    }



                    saveBtn.onclick = function () {

                        event.preventDefault();

                        if ($("#AppointmentForm").valid()) {
                            timeComponentStart = appointmentStartField.value;;
                            timeComponentEnd = appointmentEndField.value;
                            let startForModel = document.getElementById("StartForModel");
                            startForModel.value = moment(dateComponentStart + ' ' + timeComponentStart)._i;


                            let endForModel = document.getElementById("EndForModel");
                            endForModel.value = moment(dateComponentStart + ' ' + timeComponentEnd)._i;

                            document.getElementById("DoctorId").value = 1;

                            PostAppointment();

                            calendar.addEvent({
                                title: document.getElementById("PatientName").value,
                                start: moment(dateComponentStart + ' ' + timeComponentStart)._i,
                                end: moment(dateComponentStart + ' ' + timeComponentEnd)._i,

                            });

                            $('#Modal').modal('toggle');
                        }

                    }




                },
                eventClick: function (arg) {
                    if (confirm('Are you sure you want to delete this event?')) {
                        arg.event.remove()
                    }
                },
                displayEventEnd: true,
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: {

                    url: '/User/Schedule/GetAppointments',
                    method: 'GET',
                    failure: function () {
                        console.log('error while fetching');
                    },
                    success: function (data) {
                        console.log(data);
                    }
                }

@*                    [
                    {
                        title: 'All Day Event',
                        start: '2020-08-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2020-08-07',
                        end: '2020-08-10'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2020-08-09T16:00:00'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2020-08-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2020-08-11',
                        end: '2020-08-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2020-08-12T10:30:00',
                        end: '2020-08-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2020-08-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2020-08-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2020-08-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2020-08-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2020-08-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2020-08-28'
                    }
                ]*@

            });

            calendar.render();
        });

    </script>


}